body {
    background-color: lightgray;
    margin: 50px 2em 50px 5em;
}

h1, h2 {
    text-align: center;
    color: darkblue;
    font-family: Arial;
    margin-top: 20px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    color: blue;
    margin-top: -39px;
    margin-left: -5px;
}

.container {
    width: 100%;
    background-color: white;
    border-right: 5px double blue;
    padding-left: 2em;
    text-indent: 30px;
    line-height: 30px;
}